@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
html, body {
    padding: 0;
    margin: 0 0 0 75px;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;

}
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 100%, 70% 100%, 16% 100%, 0 81%, 0 0);

}
figure {
    margin-left: 0;
}
nav {
    display: flex; 
    background-color: #edf2f6;
    padding: 10px;
    color: #707682;
    /*justify-content: space-between;*/
    /*align-items: center;
    /*width: 100%;*/    
    justify-content: flex-end;  
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
nav ul {
    display: flex;

}
nav li {
    padding-right: 20px;
    list-style: none;
    
}
nav li a {
    color: #232941;
    text-decoration: none;

}
nav li a:hover{
    color: white;
    }
    
hr{
    opacity: .2;
}
.frase-main{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Barlow Condensed', sans-serif;

}
.circle-black{
   font-weight: bold;
   background-color: #232941;
   color: #edf2f6;
   border: 1px solid;
   border-radius: 15px;
   width: min-content;
   padding: 7px;
   font-weight: bold;
}
h1 {
    font-size: 46px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #232941;
}
.frase{
    color: #c4c4c4;
    letter-spacing: 5px;
    margin-left: 10px;
}

.button-main{
    border: 1px solid #dd5f60;
    background-color: #ff5c5f;
    font-family: 'Barlow Condensed', sans-serif;
    color: #ffdbd5;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
}
.txtmain{
    font-family: 'Barlow Condensed', sans-serif;
    color: #c4c4c4;
    letter-spacing: 5px;
    margin-left: 10px;
}

.container-frase{
    display: flex;
}

/* .title_container{
    display: flex;
} */
.imagen{

    background-image: url('../images/illustration-devices.svg');
    width: 705px;
    height: 472px;
}
.container_img{
    display: flex;
    justify-content: space-between;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }